{
    "spotify": {
        "client_id": "YOUR_SPOTIFY_CLIENT_ID",
        "client_secret": "YOUR_SPOTIFY_CLIENT_SECRET",
        "refresh_token": "YOUR_SPOTIFY_REFRESH_TOKEN",
        "daily_playlist_id": "YOUR_SPOTIFY_PLAYLIST_ID",
        "cumulative_playlist_id": "YOUR_CUMULATIVE_SPOTIFY_PLAYLIST_ID"
    },
    "tunegenie": {
        "api_url": "https://api.tunegenie.com/v2/brand/nowplaying/",
        "api_id": "m2g_bar",
        "brand": "wxrv",
        "timezone_offset": "-04:00"
    }
}